
body {
  margin: 0;
  padding: 0;
}

.class1 {
  width: 800px;
  height: 450px;
  display: block;
  margin: 0px auto;
}

#container {
  background-color: antiquewhite;
  display: block;
  margin: auto;
  text-align: center;

}



#textarea {
  display:flexbox;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  width: 400px;
  margin: 0px auto;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;
}
#name{
  
border-radius: 5px;
}
#email{
  border-radius: 5px;
}